:root {
  --font-font-family: cursive;
  --main-color: blueviolet;
}

h1,
h3 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 48px;
  font-family: var(--font-font-family);
  text-align: center;
}

a {
  display: block;
  text-align: center;
  font-size: 20px;
}

h1 {
  font-size: 86px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

h3 {
  font-size: 24px;
  font-family: var(--font-font-family);
  font-weight: 500;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

footer {
  font-size: 28px;
  text-align: center;
  margin-top: 35px;
  font-family: var(--font-font-family);
}

.btn-links {
  display: flex;
  justify-content: center;
}
.btn-links a {
  font-family: var(--font-font-family);
  padding: 20px 30px;
  text-align: center;
  margin: 40px 30px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
}

.prim-link {
  font-family: var(--font-font-family);
  display: inline-block;
  padding: 15px 20px;
  margin: 20px;
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0;
}

.contact-link {
  background-color: var(--main-color);
  color: white;
}
.about-link {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}

.info {
  display: flex;
}

.info p {
  margin: 30px;
  padding: 10px 20px;
  font-family: cursive;
  border-radius: 10px;
  font-size: 20px;
  background-color: #f5f2fe;
}

#contact a {
  text-decoration: none;
  font-size: 25px;
  margin-top: 10px;
}

.nav {
  margin: 0 auto;
  padding: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 45px;
  }
  h3 {
    font-size: 24px;
    opacity: 0.6;
  }
  .btn-links a {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .yogurt-app,
  .weather-app,
  .yoga-app {
    width: 100%;
  }

  .prim-link {
    display: block;
    margin: 20px auto;
    width: 75%;
    float: none;
    font-size: 16px;
  }
}
